*>#encabezado,*>#intro{font-family: monospace, font-size:16px}
#encabezado{color: darkblue;
background-color: lightblue}
#intro{color: red;background-color: darkred}
#Test{color: black;background-color: lightblue; font-family: 'Courier New'}
#Test>p{color: green}
.impar{background-color: lightgray}
.par{background-color: darkgrey}
.correcta{color: red;background-color: yellow}
